.object {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 5px 0;
    
    .object_col {
        width: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;   
        color: #000;
    }

    :first-child {
        width: 15%;
    }
    :nth-child(2) {
        width: 30%;
    }
    :nth-child(3) {
        width: 30%;
    }
    :nth-child(4) {
        width: 15%;
    }


    .sub_name {
        font-size: 12px;
        color: rgb(124, 124, 124);
    }
    .status {
        
        width: 100%;
        
        padding: 3px 0;
        text-align: center;
        color: #fff;
        
    }

}